<a href="https://colab.research.google.com/github/mariliaoliv/Fundamentos-de-Programa-o/blob/main/Aula_08_FDP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dict = {'country': ["Brasil", "Rússia", "India", "China", "South Africa"], 
'capital': ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
'area': [8.516, 17.10, 3.286, 9.597, 1.221],
'population': [200.4, 143.5, 1252, 1357, 52.98]}
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brasil   Brasilia   8.516      200.40
1        Rússia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [ ]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics

         country    capital    area  population
BR        Brasil   Brasilia   8.516      200.40
RU        Rússia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
mnist_test = pd.read_csv("/content/sample_data/mnist_test.csv")
mnist_test

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
mnist_test = pd.read_csv("/content/sample_data/mnist_test.csv", index_col = 0)
mnist_test

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
7,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
names = ['United States', 'Australia', 'Japan', ' India','Russia', 'Morroco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45,]

import pandas as pd
 
my_dict = { "country":names, "drives_right":dr, "cars_per_cap":cpc }

cars = pd.DataFrame(my_dict)
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morroco          True            70
6          Egypt          True            45

In [ ]:
cars.index = ['USA','AU', 'JP', 'IN', 'RU', 'MR', 'EG']
cars

           country  drives_right  cars_per_cap
USA  United States          True           809
AU       Australia         False           731
JP           Japan         False           588
IN           India         False            18
RU          Russia          True           200
MR         Morroco          True            70
EG           Egypt          True            45

In [ ]:
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MO','EG']
cars

           country  drives_right  cars_per_cap
USA  United States          True           809
AU       Australia         False           731
JP           Japan         False           588
IN           India         False            18
RU          Russia          True           200
MR         Morroco          True            70
EG           Egypt          True            45

In [ ]:
import pandas as pd
cars_csv = pd.read_csv("/content/cars.csv", index_col = 0)

cars_csv

Empty DataFrame
Columns: []
Index: [0         US           809  United States          True, 1        AUS           731      Australia         False, 2        JPN           588          Japan         False, 3         IN            18          India         False, 4         RU           200         Russia          True, 5        MOR            70        Morocco          True, 6         EG            45          Egypt          True]

In [ ]:
print(brics["country"])

print(type(brics["country"]))

BR          Brasil
RU          Rússia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
brics[["country"]]

         country
BR        Brasil
RU        Rússia
IN         India
CH         China
SA  South Africa

In [ ]:
brics[["country", "capital"]]

         country    capital
BR        Brasil   Brasilia
RU        Rússia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
brics[1:]

         country    capital    area  population
RU        Rússia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
brics[:1]

   country   capital   area  population
BR  Brasil  Brasilia  8.516       200.4

In [ ]:
brics[1:3]

   country    capital    area  population
RU  Rússia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [ ]:
brics[1:5]

         country    capital    area  population
RU        Rússia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
brics[:-1]

   country    capital    area  population
BR  Brasil   Brasilia   8.516       200.4
RU  Rússia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
brics[-1:]

         country   capital   area  population
SA  South Africa  Pretoria  1.221       52.98

In [ ]:
#loc localiza
brics.loc[["RU"]]

   country capital  area  population
RU  Rússia  Moscow  17.1       143.5

In [ ]:
skulls_csv = pd.read_csv("/content/skulls.csv", index_col= 0)
skulls_csv

,Pré-dinástico primitivo,Unnamed: 2,Unnamed: 3,Unnamed: 4,Pré-dinástico antigo,Unnamed: 6,Unnamed: 7,Unnamed: 8,12 e 13 dinastias,Unnamed: 10,Unnamed: 11,Unnamed: 12,Período ptolemaico,Unnamed: 14,Unnamed: 15,Unnamed: 16,Período romano,Unnamed: 18,Unnamed: 19,Unnamed: 20
Crânios,X1,X2,X3,X4,X1,X2,X3,X4,X1,X2,X3,X4,X1,X2,X3,X4,X1,X2,X3,X4
1,131,138,89,49,124,138,101,48,137,141,96,52,137,134,107,54,137,123,91,50
2,125,131,92,48,133,134,97,48,129,133,93,47,141,128,95,53,136,131,95,49
3,131,132,99,50,138,134,98,45,132,138,87,48,141,130,87,49,128,126,91,57
4,119,132,96,44,148,129,104,51,130,134,106,50,135,131,99,51,130,134,92,52
5,136,143,100,54,126,124,95,45,134,134,96,45,133,120,91,46,138,127,86,47
6,138,137,89,56,135,136,98,52,140,133,98,50,131,135,90,50,126,138,101,52
7,139,130,108,48,132,145,100,54,138,138,95,47,140,137,94,60,136,138,97,58
8,125,136,93,48,133,130,102,48,136,145,99,55,139,130,90,48,126,126,92,45
9,131,134,102,51,131,134,96,50,136,131,92,46,140,134,90,51,132,132,99,55
10,134,134,99,51,133,125,94,46,126,136,95,56,138,140,100,52,139,135,92,54
11,129,138,95,50,133,136,103,53,137,129,100,53,132,133,90,53,143,120,95,51
12,134,121,95,53,131,139,98,51,137,139,97,50,134,134,97,54,141,136,101,54
13,126,129,109,51,131,136,99,56,136,126,101,50,135,135,99,50,135,135,95,56
14,132,136,100,50,138,134,98,49,137,133,90,49,133,136,95,52,137,134,93,53
15,141,140,100,51,130,136,104,53,129,142,104,47,136,130,99,55,142,135,96,52
16,131,134,97,54,131,128,98,45,135,138,102,55,134,137,93,52,139,134,95,47
17,135,137,103,50,138,129,107,53,129,135,92,50,131,141,99,55,138,125,99,51
18,132,133,93,53,123,131,101,51,134,125,90,60,129,135,95,47,137,135,96,54
19,139,136,96,50,130,129,105,47,138,134,96,51,136,128,93,54,133,125,92,50
20,132,131,101,49,134,130,93,54,136,135,94,53,131,125,88,48,145,129,89,47
21,126,133,102,51,137,136,106,49,132,130,91,52,139,130,94,53,138,136,92,46
22,135,135,103,47,126,131,100,48,133,131,100,50,144,124,86,50,131,129,97,44
23,134,124,93,53,135,136,97,52,138,137,94,51,141,131,97,53,143,126,88,54
24,128,134,103,50,129,126,91,50,130,127,99,45,130,131,98,53,134,124,91,55
25,130,130,104,49,134,139,101,49,136,133,91,49,133,128,92,51,132,127,97,52
26,138,135,100,55,131,134,90,53,134,123,95,52,138,126,97,54,137,125,85,57
27,128,132,93,53,132,130,104,50,136,137,101,54,131,142,95,53,129,128,81,52
28,127,129,106,48,130,132,93,52,133,131,96,49,136,138,94,55,140,135,103,48
29,131,136,114,54,135,132,98,54,138,133,100,55,132,136,92,52,147,129,87,48
30,124,138,101,46,130,128,101,51,138,133,91,46,135,130,100,51,136,133,97,51

In [ ]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Rússia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
brics.loc[["BR"], ["capital"]]

     capital
BR  Brasilia

In [ ]:
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brasil   Brasilia
RU        Rússia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria